
.admin {
    
    .admin-title {
        font-size: 3em;
        margin-top: 3rem;
        margin-left: 2rem;
        color: $blue400;
    }
}

.admin-users {
    min-height: calc(100vh - 90px);
    padding: 2rem 1rem;

    .admin-users-title {
        font-size: 2.5em;
        margin: 3rem 2rem;
        color: $blue400;
    }

    .admin-users-table {
        width: 70%;
        margin: 2rem auto;
        border: 1px solid $black2;
        border-radius: 8px;
        overflow: hidden;

        .admin-users-table-header {
            display: grid;
            grid-template-columns: 2fr 3fr;
            background-color: $silver;
            border-bottom: 1px  solid $black2;
            padding: 0 0.5rem;
            color: $black2;
            font-size: 1.4em;
        }

        .admin-users-table-body {
            display: flex;
            flex-direction: column;

            .admin-users-table-item {
                display: grid;
                grid-template-columns: 2fr 3fr;
                border-bottom: 1px solid $black2;
                text-decoration: none;
                padding: 3px 0.5rem;
                color: $blue300;
                font-size: 1.2em;
                transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, transform 0.2s ease-in-out;

                &:hover {
                    cursor: pointer;
                    color: $blue400;
                    background-color: aliceblue;
                    transform: scale(1.02);
                }

                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
}