
.auth {
    height: calc(100vh - 90px);
    padding: 2rem 18%;
    position: relative;

    .auth-title {
        padding: 2rem;
        font-size: 2.5em;
        font-weight: 600;
        color: $blue400;
    }

    .auth-form {
        width: 70%;
        margin: 0 auto;
        padding: 2rem 3rem;
        background-color: $lightGray;
        border-radius: 10px;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .auth-actions {
        position: absolute;
        bottom: 2rem;
        right: 2rem;
    }
}