
.new-edit-order {
    min-height: calc(100vh - 90px);
    padding: 2rem 1rem;
    position: relative;

    .new-edit-order-title {
        font-size: 2.5em;
        margin: 3rem 2rem;
        color: $blue400;
    }

    .new-edit-order-actions {
        position: absolute;
        bottom: 2rem;
        right: 4rem;
    }
}

.order-form {
    width: 70%;
    margin: 2rem auto;

    .order-form-images {
        margin-top: 3rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 2rem;
        border-top: 1px solid $silver;
        padding-top: 2rem;

        .order-form-image-item {
            position: relative;

            .order-form-image-item-remove {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
}